.navbar-sidebar {
    transition: width 0.5s;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.heading-sidebar {
    color: #9333ea;
    font-weight: 700;
    font-size: 1.5rem;
}

.icon-collapse {
    cursor: pointer;
}

.collapsed {
    justify-content: center;
}

.icon-profile {
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #a144f3, #bc62f7);
}

.btn-sidebar {
    margin-bottom: 0.5rem;
    border-radius: 1rem !important;
    text-align: left !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
}

.btn-sidebar:hover {
    background-color: #f1f5f9 !important;
}

.btn-sidebar-active {
    background: linear-gradient(to right, #A855F7, #9333EA);
    color: white !important;
}

.btn-logout:hover {
    background-color: #FFE2E5 !important;
}