.div-header {
    background: linear-gradient(
            135deg,
            #3982DF 0%,
            #6eb6f0 25%,   /* light sky blue */
            #8fa6f5 35%,  /* soft lavender blue */
            #b389f4 50%,  /* purple */
            #d48ce7 70%,  /* pinkish violet */
            #f3a6c9 85%,  /* soft pink */
            #f6c0b8 100%  /* peachy pink */
    );
}

.div-navbar {
    border: 1px solid #fff3;
    border-radius: 1.5rem;
    backdrop-filter: blur(16px);
    padding: 0.75rem 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.3);
}

.img-hero {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 80vh;
}

.title-hero {
    color: white;
    font-size: 4.5rem;
    font-weight: 700;
}