.heading-navbar {
    color: #9333ea;
}

.btn-navbar {
    border-radius: 0.75rem !important;
    font-size: large !important;
    text-align: left !important;
}

.btn-navbar:not(:last-child) {
    margin-right: 0.5rem;
}

.btn-navbar-active {
    background: linear-gradient(to right, #A864BE, #836bc8);
    color: white !important;
}

.btn-navbar-logout {
    background-color: #FFE2E5 !important;
    color: red !important;
}